Repository ObjectX-9/react_demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

.lintstagedrc.json:

{
	"*.{ts,tsx,js}": ["eslint --config .eslintrc.js"],
	"*.{css,less,scss}": ["stylelint --config .stylelintrc.js"],
	"*.{ts,tsx,js,json,html,yml,css,less,scss,md}": ["prettier --write"]
}

test(javascript): 1212
  .commitlintrc.js
  .husky/_/commit-msg
  .husky/_/pre-commit
  package.json
  yarn.lock
Due: eslint --config .eslintrc.js, prettier --write

feat: 配置custom commitlint
  .commitlintrc.js
  .cz-config.js
  .husky/_/prepare-commit-msg
  package.json
  yarn.lock
Due: eslint --config .eslintrc.js, prettier --write

👨🏻‍💻addLog: 更改commitlint
  .cz-config.js
Due: eslint --config .eslintrc.js, prettier --write

✨feat: 增加changelog
  package.json
  yarn.lock
Due: prettier --write

🐛fix: 增加changelog
  package.json
Due: prettier --write

✨feat: changlog file
  CHANGELOG.md
Due: prettier --write

✨feat: wepback5基本配置
  javascript.png
  package.json
  postcss.config.js
  public/index.html
  scripts/config/webpack.common.js
  scripts/config/webpack.dev.js
  scripts/config/webpack.prod.js
  scripts/constants.js
  src/app.js
  src/app.scss
  yarn.lock
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

✨feat: 完整的react+ts开发环境
  .babelrc
  package.json
  scripts/config/webpack.common.js
  src/app.js
  src/app.tsx
  src/components/Button/index.tsx
  src/components/Button/style/index.less
  src/components/Header/index.tsx
  src/components/Header/style/index.module.less
  src/hello.ts
  src/index.js
  src/index.less
  src/index.tsx
  tsconfig.json
  typings/file.d.ts
  yarn.lock
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

✨feat: 引入storybook
  .eslintrc.js
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

✨feat: storybook 组件的基本模板
  src/app.tsx
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Button/index.tsx
  src/components/Button/style/index.less
  src/components/Button/style/index.module.less
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

✨feat: rollup 打包组件库
  package.json
  rollup.config.mjs
  src/components/Button/Button.tsx
  src/components/Header/index.tsx
  src/components/Header/style/index.module.less
  src/components/index.ts
  src/index.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

🐛fix: 更改name
  package.json
Due: prettier --write

1.0.1
  package.json
Due: prettier --write

1.0.0
  package.json
Due: prettier --write

1.0.1-0
  package.json
Due: prettier --write

1.0.2-0
  package.json
Due: prettier --write

✨feat: 部署脚本
  .github/workflows/storybook.yml
Due: prettier --write

🐛fix: error
  .github/workflows/storybook.yml
  .storybook/main.ts
  storybook-static/assets/Color-RQJUDNI5-DtbcsO_q.js
  storybook-static/assets/Color-RQJUDNI5-vdf0Z78Q.js
  storybook-static/assets/DocsRenderer-K4EAMTCU-BgK9LS4_.js
  storybook-static/assets/WithTooltip-Y7J54OF7-BCBFXpdY.js
  storybook-static/assets/WithTooltip-Y7J54OF7-DHyHH7zy.js
  storybook-static/assets/formatter-B5HCVTEV-BHrqvPIv.js
  storybook-static/assets/iframe-B1Yfy-v9.js
  storybook-static/assets/iframe-CJ3QuUcW.js
  storybook-static/assets/preview-DIVHFgVG.js
  storybook-static/assets/preview-ZX36ixy_.js
  storybook-static/assets/syntaxhighlighter-JOJW2KGS-BMtj-dJ4.js
  storybook-static/assets/syntaxhighlighter-JOJW2KGS-JIA7S-zX.js
  storybook-static/iframe.html
  storybook-static/project.json
Due: eslint --config .eslintrc.js, prettier --write

✨feat: 更新storybook
  package.json
  storybook-static/project.json
  storybook-static/sb-manager/chunk-O6NCVXC4.js
  storybook-static/sb-manager/chunk-RHK3WMPG.js
  storybook-static/sb-manager/globals-runtime.js
  storybook-static/sb-manager/index.js
  storybook-static/sb-manager/runtime.js
  yarn.lock
Due: eslint --config .eslintrc.js, prettier --write

✨feat(leetcode):
  .github/workflows/storybook.yml
Due: prettier --write

✨feat(leetcode):
  .storybook/main.ts
Due: eslint --config .eslintrc.js, prettier --write

✨feat(leetcode):
  .github/workflows/storybook.yml
  .storybook/main.ts
  storybook-static/assets/Color-RQJUDNI5-DtbcsO_q.js
  storybook-static/assets/Color-RQJUDNI5-vdf0Z78Q.js
  storybook-static/assets/DocsRenderer-K4EAMTCU-CK-tx-z6.js
  storybook-static/assets/WithTooltip-Y7J54OF7-BCBFXpdY.js
  storybook-static/assets/WithTooltip-Y7J54OF7-DHyHH7zy.js
  storybook-static/assets/formatter-B5HCVTEV-CwlrI6Z0.js
  storybook-static/assets/iframe-B1Yfy-v9.js
  storybook-static/assets/iframe-CJ3QuUcW.js
  storybook-static/assets/preview-DIVHFgVG.js
  storybook-static/assets/preview-ZX36ixy_.js
  storybook-static/assets/syntaxhighlighter-JOJW2KGS-BMtj-dJ4.js
  storybook-static/assets/syntaxhighlighter-JOJW2KGS-JIA7S-zX.js
  storybook-static/iframe.html
  storybook-static/project.json
Due: eslint --config .eslintrc.js, prettier --write

✨feat(leetcode):
  storybook-static/project.json
Due: prettier --write

chore(release): 1.0.5
  .husky/_/commit-msg
  .husky/_/prepare-commit-msg
  .vscode/settings.json
  package.json
  scripts/release.js
Due: eslint --config .eslintrc.js, prettier --write

chore(release): 1.0.6
  package.json
  scripts/release.js
Due: eslint --config .eslintrc.js, prettier --write

chore(release): 1.0.7
  package.json
  scripts/release.js
Due: eslint --config .eslintrc.js, prettier --write

chore(release): 1.0.9
  package.json
  scripts/release.js
Due: eslint --config .eslintrc.js, prettier --write

chore(release): 1.0.10
  package.json
  scripts/release.js
Due: eslint --config .eslintrc.js, prettier --write

chore(release): 1.0.11
  package.json
  scripts/release.js
Due: eslint --config .eslintrc.js, prettier --write

fix: complete release script
  scripts/release.js
Due: eslint --config .eslintrc.js, prettier --write

chore(release): 1.0.12
  package.json
Due: prettier --write

chore(release): 1.0.13
  package.json
Due: prettier --write

chore(release): 1.0.14
  package.json
Due: prettier --write

chore(release): 1.0.15
  package.json
Due: prettier --write

chore(release): 1.0.16
  package.json
Due: prettier --write
