Repository ObjectX-9/react_demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

.lintstagedrc.json:

{
	"*.{ts,tsx,js}": ["eslint --config .eslintrc.js"],
	"*.{css,less,scss}": ["stylelint --config .stylelintrc.js"],
	"*.{ts,tsx,js,json,html,yml,css,less,scss,md}": ["prettier --write"]
}

chore(release): 1.0.17
  package.json
Due: prettier --write

feat: 瀑布流架子
  .eslintrc.js
  package.json
  src/api/index.ts
  src/components/Waterfall/Waterfall.stories.tsx
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/index.ts
  src/components/Waterfall/style/index.module.css
  src/components/Waterfall/style/index.module.less
  yarn.lock
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: 瀑布流架子
  src/api/imgData.ts
  src/api/index.ts
  src/components/Waterfall/Waterfall.stories.tsx
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/style/index.module.css
  src/components/Waterfall/style/index.module.less
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: column实现瀑布流
  src/api/imgData.ts
  src/components/Waterfall/Waterfall.stories.tsx
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/style/index.module.less
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: flex实现瀑布流
  .stylelintrc.js
  src/api/imgData.ts
  src/api/index.ts
  src/components/Waterfall/Waterfall.stories.tsx
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/style/index.module.less
  src/utils/index.ts
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: flex 实现
  src/components/Waterfall/Waterfall.tsx
Due: eslint --config .eslintrc.js, prettier --write

feat: grid 实现瀑布流
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/style/index.module.less
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: grid 实现瀑布流还剩计算逻辑
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/style/index.module.less
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: grid 瀑布流
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/style/index.module.less
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: js实现瀑布流
  src/components/Waterfall/Waterfall.stories.tsx
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/style/index.module.less
  src/components/Waterfall/waterfall.ts
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: js完整实现瀑布流,动态加载,触底刷新
  .eslintrc.js
  src/api/index.ts
  src/components/Waterfall/Waterfall.stories.tsx
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/style/index.module.less
  src/components/Waterfall/waterfallClass.ts
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: api
  src/api/index.ts
Due: eslint --config .eslintrc.js, prettier --write

feat: 设置随机颜色
  src/components/Waterfall/Waterfall.tsx
Due: eslint --config .eslintrc.js, prettier --write

feat: js绘制图片瀑布流
  src/api/index.ts
  src/components/Waterfall/Waterfall.tsx
  src/components/Waterfall/waterfallClass.ts
Due: eslint --config .eslintrc.js, prettier --write

feat: 定高虚拟列表实现
  src/components/VirtualList/VirtualList.stories.tsx
  src/components/VirtualList/VirtualList.tsx
  src/components/VirtualList/index.ts
  src/components/VirtualList/style/index.module.less
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write

feat: 不定高虚拟列表
  src/components/VirtualList/VirtualList.stories.tsx
  src/components/VirtualList/VirtualList.tsx
Due: eslint --config .eslintrc.js, prettier --write

feat: 二分法优化查找startIndex&缓存列表高度数据避免重复生成
  src/components/VirtualList/VirtualList.tsx
Due: eslint --config .eslintrc.js, prettier --write

feat: 动态计算
  src/components/VirtualList/VirtualList.stories.tsx
  src/components/VirtualList/VirtualList.tsx
Due: eslint --config .eslintrc.js, prettier --write

fix: 类型
  src/components/VirtualList/VirtualList.tsx
Due: eslint --config .eslintrc.js, prettier --write

fix: remove img list
  src/components/VirtualList/VirtualList.stories.tsx
  src/components/VirtualList/VirtualList.tsx
Due: eslint --config .eslintrc.js, prettier --write

fix: del log
  src/components/VirtualList/VirtualList.tsx
Due: eslint --config .eslintrc.js, prettier --write

fix: bug
  src/components/VirtualList/VirtualList.tsx
  src/components/VirtualList/style/index.module.less
Due: eslint --config .eslintrc.js, stylelint --config .stylelintrc.js, prettier --write
